<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 启动springmvc注解 -->
	<!--  <mvc:annotation-driven/>  -->


		
		<!-- 静态文件访问 -->
		<mvc:default-servlet-handler/>
	
		
		<!-- 配置视图解析器 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/WEB-INF/views/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>
		
		 <!-- jackson 方案 -->
		
		 
		 

    
 
      <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	 
		 
		 <!-- 文件上传 -->
		 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		 	<property name="defaultEncoding" value="UTF-8"></property>
		 	<property name="maxUploadSize" value="5242880"></property>
		 	<property name="uploadTempDir" value="/images/"></property>
		 </bean>
		 
    <!-- 	<mvc:interceptors>
    		 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 
    		 <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"></bean>
    		 如果不定义 mvc:mapping path 将拦截所有的URL请求
    		  <mvc:interceptor>
    		 <mvc:mapping path="/user/token"/>
    		 <mvc:mapping path="/shop/token"/>
    		 <bean class="ease.shopping.common.auth.AuthInterceptor"></bean>
    		 </mvc:interceptor> 
    		 
    		
    	</mvc:interceptors> -->
    	
    	
    	
    	
    	<!-- 配置自动扫描的包 -->
		<context:component-scan base-package="com.community">
		 <context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" /> 
			 <!--   <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />   -->
		</context:component-scan>
		
		
		
		
		
		
		<!-- 全局异常配置 start -->     
     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">     
         <property name="exceptionMappings">     
             <props>     
                     
                 <prop key="java.lang.Throwable">error/error</prop>   
                 <prop key="com.jason.exception.SystemException">error/500</prop>   
          		<prop key="com.jason.exception.BusinessException">error/error</prop>  
          		<prop key="java.lang.exception">error/500</prop> 
          		<prop key="java.lang.Exception">error/500</prop>
             </props>     
         </property>     
      <!--  <property name="statusCodes">     
             <props>     
                 <prop key="405">error/405</prop>     
                 <prop key="404">error/404</prop>
                 <prop key="403">error/403</prop>     
             </props>     
         </property>    -->
         <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->     
         <property name="warnLogCategory" value="WARN"></property>     
         <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->     
         <property name="defaultErrorView" value="error/error"></property>     
         <!-- 默认HTTP状态码 -->     
         <property name="defaultStatusCode" value="500"></property>     
     </bean>     
     <!-- 全局异常配置 end -->    
		
		
		
		
		
		
		
		
		
</beans>
